.App {
  text-align: center;
}

.App-logo {
  height: 50%;
  color: gray;
}

.App-logo:hover {
  height: 60%;
}

.zzindex {
  z-index: 100;
}

.hover:hover {
  background-color: azure;
  ;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
