

.icon {
  height: 50%;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

.hover:hover {
  background-color: lightgray;
  ;
}

.countries-list{
  min-height: 300px;
}

.min-height {
  min-height: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
